<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        {{ value }} <br>
        {{ value.2 }} <br>
        {{ value2.jeju }} <br>
        {{ value3|add:'taeeun' }} 
        {{ value3|capfirst }}
        {{ value3|upper }}
        {{ value3|lower }}<br>
        {{ dateT|date:'Y m d'}}<br>
        {{ sampleText }}<br>
        {{ sampleText|linebreaks }}<br>
        {{ sampleText|linenumbers }}<br>
        {{ sampleText|title }}<br>
        {{ l|join:' !! ' }}<br>
        {{ l|random }}<br>
        {{ l|slice:'2' }}

    </body>
</html>