.sprite_insta_logo {
    display: inline-block;
	background: url('../imgs/insta-sprite.png') no-repeat -177px -2px;
	width: 30px;
	height: 30px;
}
.sprite_write_logo {
    display: inline-block;
	background: url('../imgs/insta-sprite.png') no-repeat -246px -4px;
	width: 107px;
	height: 31px;
}
.sprite_search_icon {
    display: inline-block;
    background: url('../imgs/insta-sprite.png') no-repeat -405px -209px;
	width: 23px;
	height: 22px;
}
.sprite_compass_icon {
    display: inline-block;
	background: url('../imgs/insta-sprite.png') no-repeat -33px -353px;
	width: 22px;
	height: 22px;
}
.sprite_heart_icon {
    display: inline-block;
	background: url('../imgs/insta-sprite.png') no-repeat -111px -354px;
	width: 22px;
	height: 20px;
}
.sprite_user_icon {
    display: inline-block;
	background: url('../imgs/insta-sprite.png') no-repeat -405px -158px;
	width: 22px;
	height: 21px;
}

body{
    background: #fafafa;
}

#header{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
#header .inner{
    width: 975px;
    height: 77px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .inner .logo div{
    vertical-align: middle;
}
#header .inner .logo .sprite_insta_logo{
    position: relative;
    margin-right: 30px;
}
#header .inner .logo .sprite_insta_logo:after{
    content: '';
    width: 1px;
    height: 28px;
    background: #000;
    position: absolute;
    right: -15px;
    top: 0;
}
#header .inner .logo a{
    color: transparent;
}
#header .search_box{
    position: relative;
}

#search-field{
    width: 185px;
    height: 28px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 3px 30px;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    outline: none;
}
#search-field::placeholder{
    font-size: 0;
}
#search-field:focus::placeholder{
    font-size: 14px;
}
#header .search_box .fake_field{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none; /*fake_field가 포인터로 인식 안 되도록*/
}
#header .search_box .fake_field span{
    vertical-align: middle;
}
#search-field:focus ~ .fake_field > span:nth-child(1){
    transform: translateX(-105px); /*돋보기는 왼쪽으로*/
}
#search-field:focus ~ .fake_field > span:nth-child(2){
    display: none; /*글자는 사라지게*/
}

#header .right_icons{
    width: 132px;
    display: flex;
    justify-content: space-between;
}
#header .right_icons > div{
    
}